* {
  font-family: 'Inter', system-ui;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7a3a3;
}

.wrapper {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}


.content {
  display: flex;
  flex-direction: column;
  padding: 30px 30px 30px 30px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);

  .content-top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .searth-block {
      display: flex;
      border: 1px solid #f3f3f3;
      display: flex;
      align-items: center;
      font-size: 16px;
      border-radius: 13px;
      padding: 0 15px;
    }

    input {
      border: 0;
      padding: 10px;
      width: 200px;
    }

  }

  .manga {
    display: flex;
    flex-wrap: wrap;
  }
}